body {
    background-color: #1F2937;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}



nav {
    color: #E5E7EB;
    
}

a {
    margin-left: 30px;

}

h1 {
    margin: 0;
}

h3 {
    font-size: 24px;
    color:  #F9FAF8;
    margin: 0
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    border-radius: 5px ;
    border: 0px
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.bottom-header {
    display: flex;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.middle-content {
    background-color: white;
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}