

body {
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    
}


nav {
    color: #E5E7EB;
    
}

a {
    margin-left: 30px;

}

h1 {
    margin: 0;
}

h3 {
    font-size: 20px;
    color:  #F9FAF8;
    margin: 0
}

h2 {
    font-size: 30px;
    color: #1F2937;
    text-align: center;
}

button {
    background-color: #3882F6;
    border-radius: 5px ;
    border: 0px;
    color: #F9FAF8;
    width: 80px;
    height: 25px;
    font-weight: 1000
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 15px auto 80px auto;


}

.bottom-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 45%;
    height: 150px;
    margin: 0 auto 150px auto;
    color:#F9FAF8;
    
}

.bottom-header img {
    width: 390px;
    height: 150px ;
}

.left-header-content {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: 350px;
    gap: 10px;
}

.left-header-content p {
    margin: 0
}


.middle-content {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}

.upper-middle-content {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 80%;
    height: 300px;



}

.upper-middle-content img {
    width: 100x;
    height: 100px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    width: 100%;
    height: 300px;
}

.quote {
    display: flex;
    width: 38%;
    text-wrap: wrap;
    font-style: italic;
    font-weight: 100;
    font-size: 26px;
    align-items: center;
}

.call-to-action {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 250px;
    width: 100%
}

.call-to-action-block {
    display: flex;
    justify-content: space-evenly;
    width:40%;
    height:50%;
    background-color: #3882F6;
    border-radius: 8px;
}

.ctab-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctab-content p {
    margin: 5px 0 0 0;
}

.ctab-button {
    display: flex;
    align-items: center;
}

.ctab-button button {
    border-radius: 5px;
    border: 1px solid white
}

footer{
    text-align: center;
    color:#E5E7EB
}

