body {
    background-color: #1F2937;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}



nav {
    color: #E5E7EB;
    
}

a {
    margin-left: 30px;

}

h1 {
    margin: 0;
}

h3 {
    font-size: 24px;
    color:  #F9FAF8;
    margin: 0
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;


}

.bottom-header {
    display: flex;

}



